@import "tailwindcss";

@theme {
  --breakpoint-mdx: 58rem;
  --breakpoint-xs: 32rem;
  --breakpoint-xxs: 24rem;

  --color-primary: #ffffff;
  --color-secondary: #d03219;
  --color-tertiary: #000000;
}


::selection {
  background-color: #d03219;
  color: #ffffff;
}

::-moz-selection {
  background-color: #d94132;
  color: white;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #9ca3af;
  pointer-events: none;
  float: left;
  height: 0;
}


